.departamentos {
  width: 100%;
  background: var(--color-gris3);
}
.grupo {
  padding: 16px;
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
}
.list__conten {
  width: 100%;
}
.lista__cabecera {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lista__titulo {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-gris);
}
.lista__contenedor {
  display: flex;
}
.btn__link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.btn__link ion-icon {
  font-size: 16px;
}

.lista__productos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.productos__contenedor {
  width: calc(50% - 10px);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ocultarProd {
  display: none;
}
.productos__imagen {
  background: transparent;
  width: calc(100%);
}
.productos__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.productos__nombre {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gris);
}
.productos__precio {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-gris);
}
.btn__link,
.productos__link {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-azul);
}
.productos__categoria,
.ocultar {
  display: none;
}

@media (min-width: 349px) {
  .productos__contenedor {
    flex-basis: calc(50% - 10px);
  } 
}

@media (min-width: 490px) {
  .lista {
    padding: 32px 0;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }
  .grupo {
    width: calc(100% - 64px);
    padding: 0;
    margin-bottom: 32px;
  }
  .productos__contenedor {
   flex-basis: calc(25% - 12px); 
  }
  .btn__link,
  .productos__link {
    font-size: 16px;
  }
}

@media (min-width: 850px) {  
  .lista__productos {
    flex-wrap: nowrap;
  }
  .productos__contenedor {
    max-width: 176px;
    flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .departamentos {
    padding: 0 152px;
  }
  .lista {
    padding: 0;
  }
  .grupo {
    width: calc(100%);
    max-width: 1350px;
    padding: 32px 0 ;
  }
  .grupo:first-child {
    padding-top: 64px;
  }
  .grupo:last-child {
    padding-bottom: 64px;
  }
  .list__conten {
    max-width: 1136px;
    align-self: center;
  }
  .lista__titulo {
    font-size: 32px;
  }
}